name: Release assets

on:
  push:
    tags:
      - 'cli-v*'

jobs:
  publish:
    name: Publish for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            runtime: linux-x64
            artifact_name: pwsafe
          - os: windows-latest
            runtime: win-x64
            artifact_name: pwsafe.exe
          - os: macos-latest
            runtime: osx-x64
            artifact_name: pwsafe

    steps:
    - uses: actions/checkout@v4

    - name: Extract Version
      working-directory: .
      if: ${{ runner.os == 'Windows' }}
      run: |
        $tag = $env:GITHUB_REF -replace '^refs/tags/'
        $version = .\build\extract_version.ps1 $tag
        echo "VERSION=$version" >> $env:GITHUB_ENV

    - name: Extract Version
      working-directory: .
      if: ${{ runner.os == 'Linux' || runner.os == 'macOS' }}
      run: |
        version=$(./build/extract_version.sh "${GITHUB_REF#refs/tags/}")
        echo "VERSION=$version" >> $GITHUB_ENV

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '10.0.x'
        dotnet-quality: 'preview'

    - name: Restore dependencies
      run: dotnet restore

    - name: Bundle exe
      run: >-
        dotnet publish src/PwSafeClient.CLI/PwSafeClient.CLI.csproj -c Release -r ${{ matrix.runtime }} -p:Version=$VERSION -p:EnableTrimming=true -o release
      env:
        Runtime: ${{ matrix.runtime }}
    - name: Upload binaries to release
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: release/${{ matrix.artifact_name }}
        asset_name: pwsafe-${{ env.VERSION }}-${{ matrix.runtime }}${{ runner.os == 'Windows' && '.exe' || '' }}
        tag: ${{ github.ref }}
